strong {
        color: purple;
        font-style: normal;
      }
      img {
        width: 200px;
        height: 200px;
        object-fit: scale-down;
      }
      video {
        width: 400px;
      }
      ul {
        list-style-type: square;
      }
article p:last-child {
    font-weight: bold;
    color: olive;
}
#RMist p {
    color: red;
    font-size: 150%;
}      
#RMist img {

}
img.Mist {
    width: 1000px;
    height: 500px;
    object-fit: fill;
}
p::selection {
    background-color: blueviolet;
}